<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="top-label">
        <div class="topnav">
            <div class="part1">
                <img src="../assets/Wedmist White 5.svg" style="width:3rem" />
            </div>
            <div class="part2">
                <img src="../assets/WeDMist.png">
                <span>Happy to serve you </span>
            </div>
            <div class="part3">
                <div class="part_1">About Us </div>
                <div class="part_1">Essentials </div>
                <div class="part_1">Download </div>
                <div class="part_1">Sign in/Sign </div>
            </div>
        </div>
    </div>
<div class="homeimg">
    <img src="../assets/image 783.png" alt="">
</div>
</body>
</html>